@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('./public/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Regular.ttf');
}

@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    --color-latar: #f3f4f6;
    --color-teks: #374151; 
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb; 
    --color-hijau: #00B074; 
    --color-merah: #ef4444; 
    --color-biru: #3b82f6;
    --color-kuning: #f59e0b;
    --color-black: #000000;
    --color-dashboard1 : #90d5be;
    --color-dashboard2 : #E03F4F;
    --color-dashboard3 : #3B7597;
    --color-dashboard4 : #FFEF9F;
    --color-dashboard5 : #FF653F;
    --color-pudar : #181818;
    
}

body{
    @apply font-barlow;
}